html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  zoom: 85%;
  font-family: 'arial';
  color: rgba(0, 0, 0, 0.87);
  margin: 0px;
  background-size: cover;
}

input, select{
  outline: none;
  border: none;
  padding: 4px 6px;
  display: inline-block;
  background-color: white;
  border-radius: 6px;
}

form{
  margin: 0;
  padding: 0;
}

.form-container{
  display: flex;
  justify-items: center;
  justify-content: space-around;
  align-items: center;
  color: white;
  height: auto;
  padding: 20px 40px;
  background-color: #52b3d2;;
}

.submit, #add-strike, .reset{
  border: none;
  outline: none;
  padding: 10px 30px;
  background-color: orange;
  border-radius: 50px;
  color: white;
  font-weight: 600;
}

.reset{
  background-color: red;
}

.remove-strike{
  border-radius: 50%;
  border: none;
  background-color: red;
  color: white;
  cursor: pointer;
  margin-left: 10px;
}
#add-strike{
  background-color: rgb(20, 37, 115);
}

.submit:hover, .reset:hover{
  color: black;
  font-weight: 600;
  cursor: pointer;
  background-color: rgb(252, 252, 0);
}

#add-strike:hover{
  color: black;
  font-weight: 600;
  background-color: rgb(252, 252, 0);
}

.data-container{
  position: relative;
  overflow: auto;
  margin: auto;
  margin-top:32px;
  max-height: 80%;
  width: 95%;
  margin-bottom: 100px;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.backdrop{
  position: absolute;
  display: none;
  height: 100%;
  width: 100%;
  top: 0px;
  background-color: rgba(0, 0, 0, 0.7);
}

.spinner {
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -40px;
  width: 80px;
  height: 80px;
  margin-top: 200px;
  animation: rotation 2s infinite linear;
  background: none;
}

table{
  width:100%;
}

.d-all{
  display: block;
}

button{
  cursor: pointer;
}

#strike-wrapper{
  margin-top: 10px;
  margin-bottom: 12px;
}

.strikes-container{
  margin-bottom: 6px;
}

label{
  margin-left: 20px;
  margin-right: 4px;
  font-weight: 600;
}

.red{
  color: red;
}

.green{
  color: green;
}

.atm{
  margin-left: 29px;
}

.action{
  margin-left: 4px;
}

td{
  color: #FFFFBF;
}



.result-red > .heading{
  color:red;
  background-color: #fa9e89;
  border: 2px solid red;
}
.result-red > .content{
  border: 1px solid red;
}


.result-green > .heading{
  color:green;
  background-color: #baf7c3;
  border: 2px solid green;
}
.result-green > .content{
  border: 1px solid green;
}

.result-yellow > .heading{
  color:#adad03;
  background-color: #ffffa6;
  border: 2px solid #adad03;
}
.result-yellow > .content{
  border: 1px solid #adad03;
}

.result-tile{
  display: inline-block;
  min-width: 200px;
  text-align: center;
}
.result-tile > .heading{
  padding: 4px;
  font-weight: 600;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}
.result-tile > .content{
  padding: 16px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-top: none;
}

.tile-container{
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  padding: 40px;
}